<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/paper-password-input/min-length-validator.html">
<dom-module id="login-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <input type="text" name="usr" value="{{user::input}}" placeholder="Usuario">
      </div>
      <div class="row">
        <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
				<paper-password-input
					auto-validate
					validator="min-length-validator"
					error-message="Ingresar al menos 6 caracteres"
          value="{{password}}">
				</paper-password-input>
      </div>
      <div class="row">
        <button class="btn btn-info col-xs-12 col-lg-4" type="button" name="button" on-click="login">Ingresar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginManager extends Polymer.Element {
      static get is() { return 'login-manager'; }
      static get properties() {
        return {
          user: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      login(){
        console.log("Usuario:" + this.user);
        console.log("Contraseña:" + this.password);

      }
    }

    window.customElements.define(LoginManager.is, LoginManager);
  </script>
</dom-module>
